<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true"
         backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite>
            <directory suffix=".php">./App/src/tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>app/</directory>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-html" target="App/src/tests/coverage" showUncoveredFiles="false"/>
    </logging>
</phpunit>
